
<ion-header>
  <ion-toolbar>
    <ion-title>التسجيل لاول مرة</ion-title>
      <ion-buttons left>
          <button navPop ion-button icon-only>
            <ion-icon color="light" name="arrow-back"></ion-icon>
          </button>
        </ion-buttons>
 </ion-toolbar>
</ion-header>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<ion-content class="bg">
    <div class="container-fluid ">
      <div class="row">
        <div class="col-md-4 col-sm4 col-xs-12"></div>
        <div class="col-md-4 col-sm4 col-xs-12">
          <!--Form here-->
          <form class="form-container" [formGroup]="validations_form" >
              <div class="form-group">
                <label>الايميل الشخصي</label>
                <input type="email" class="form-control" formControlName="email" name="email"   [(ngModel)] = "elderly.email">
              </div>
              <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.email">
                    <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>
              <div class="form-group">
                <label>الرقم السري</label>
                <input type="password" class="form-control" formControlName="password" name="pass"  [(ngModel)] = "elderly.Password">
              </div>
              <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.password">
                    <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>
              
              
              <button type="submit"  [disabled]="!validations_form.valid" class="btn btn-success btn-block" (click)= "registerDone(elderly)">تسجيل</button>
              <label class="error-message">{{errorMessage}}</label>
            </form>
  
        </div>
        <div class="col-md-4 col-sm4 col-xs-12"></div>
      </div>
    </div>
</ion-content>