page-elder-add-info {
        .toolbar-background {
            background-image: linear-gradient(135deg, color($colors, dark), color($colors, darkBlue));
          }
          ion-content{
            direction: rtl;
        }

        *{
            color: #ffffff;
            font-size: 23px;
        }
        
          /*   .bg{
                background: url('../assets/imgs/elderProfile.png');
                background-repeat: no-repeat;
                
                background-size: 100% 55%;
                background-color: #1d5063;
            }
            .form-container{
                border-radius: 30px;
                padding: 30px 40px;
                margin-top: 43vh;
                background-color: rgba(0,0,0,0.5);
        
                -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
                 box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            }
            .error-message{
                color: brown;
                font-size: 15px;
            } */

            .background{
                background-image: url('../assets/imgs/elderProfile.png');
                background-repeat: no-repeat;
                background-size: 100% 100%;
                direction: rtl;
            }
            .scroll.content{
                align-content: center;
                text-align: center;
            }
            ion-card.card{
                box-shadow: salmon;
                background: rgba(0, 0, 0, 0.5);
                border-radius: 5px;
                
            }
            ion-card-header.card-header{
                color: #fff !important;
                text-align: center;
                font-size: 25px;
            }
            .list > .item-block{
                border: medium none;
                ion-label{
                    color: azure;
                }
                
            }
            .item{
                margin-bottom: 10px;
                background: rgba(255, 255, 255, 0.5);
                border: medium none;
        
                .text-input{
                    color: #fff;
                }
                input::placeholder{
                    color: #fff !important;
                    direction: rtl;
                }
                ion-label{
                    color: azure;
                }
                
                
            }
            
            .button{
                margin-bottom: 10px;
                background: rgba(255, 255, 255, 0.5);
                border-radius: 50px;
                width: 100%;
                text-align: center;
            }
        
    }