page-addchatting-room {
    .toolbar-background {
        background-image: linear-gradient(135deg, color($colors, dark), color($colors, secondary));
      }
    ion-content {
        direction: rtl;
    }
    *{
        color: #ffffff;
        font-size: 23px;
    }
    
        .bg{
            background: url('../assets/imgs/chatt.png');
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
        .form-container{
            border-radius: 30px;
            padding: 30px 40px;
            margin-top: 48vh;
            background-color: rgba(0,0,0,0.4);
    
            -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
             box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        }
  
}
